body {
    font-family: sans-serif;
    background-color:#B44C00;
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
    display: flex;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    float:right;
    
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
    background-color: #B44C00;
}
main{
    background-color: #B44C00;
}

article {
    padding:15px ;
    width: 400px;
    margin:15px ;
    background-color: #B44C00;
}

.article-but {
    text-decoration: none;
    background-color: rgb(146, 12, 12);
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color:#B44C00;;
    padding: ;
    display: flex;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}
header img{
    width: 130px;
    height: 90px;
    border-radius: 30%;
}
.inst{
border-radius: 20%;
}
